/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Debug/.qmake.stash
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Debug/debug/mAgaMonitor.exe
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Debug/debug/main.o
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Debug/debug/moc_monitormaga.cpp
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Debug/debug/moc_monitormaga.o
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Debug/debug/moc_predefs.h
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Debug/debug/monitormaga.o
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Debug/Makefile
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Debug/Makefile.Debug
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Debug/Makefile.Release
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Debug/ui_monitormaga.h
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/.qmake.stash
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/mAgaMonitor portable/D3Dcompiler_47.dll
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/mAgaMonitor portable/iconengines/qsvgicon.dll
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/mAgaMonitor portable/imageformats/qgif.dll
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/mAgaMonitor portable/imageformats/qicns.dll
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/mAgaMonitor portable/imageformats/qico.dll
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/mAgaMonitor portable/imageformats/qjpeg.dll
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/mAgaMonitor portable/imageformats/qsvg.dll
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/mAgaMonitor portable/imageformats/qtga.dll
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/mAgaMonitor portable/imageformats/qtiff.dll
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/mAgaMonitor portable/imageformats/qwbmp.dll
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/mAgaMonitor portable/imageformats/qwebp.dll
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/mAgaMonitor portable/libgcc_s_seh-1.dll
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/mAgaMonitor portable/libstdc++-6.dll
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/mAgaMonitor portable/libwinpthread-1.dll
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/mAgaMonitor portable/mAgaMonitor.exe
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/mAgaMonitor portable/main.o
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/mAgaMonitor portable/moc_monitormaga.cpp
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/mAgaMonitor portable/moc_monitormaga.o
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/mAgaMonitor portable/moc_predefs.h
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/mAgaMonitor portable/monitormaga.o
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/mAgaMonitor portable/opengl32sw.dll
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/mAgaMonitor portable/platforms/qwindows.dll
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/mAgaMonitor portable/Qt6Core.dll
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/mAgaMonitor portable/Qt6Gui.dll
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/mAgaMonitor portable/Qt6SerialPort.dll
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/mAgaMonitor portable/Qt6Svg.dll
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/mAgaMonitor portable/Qt6Widgets.dll
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/mAgaMonitor portable/styles/qwindowsvistastyle.dll
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/mAgaMonitor portable/translations/qt_ar.qm
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/mAgaMonitor portable/translations/qt_bg.qm
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/mAgaMonitor portable/translations/qt_ca.qm
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/mAgaMonitor portable/translations/qt_cs.qm
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/mAgaMonitor portable/translations/qt_da.qm
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/mAgaMonitor portable/translations/qt_de.qm
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/mAgaMonitor portable/translations/qt_en.qm
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/mAgaMonitor portable/translations/qt_es.qm
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/mAgaMonitor portable/translations/qt_fa.qm
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/mAgaMonitor portable/translations/qt_fi.qm
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/mAgaMonitor portable/translations/qt_fr.qm
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/mAgaMonitor portable/translations/qt_gd.qm
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/mAgaMonitor portable/translations/qt_he.qm
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/mAgaMonitor portable/translations/qt_hr.qm
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/mAgaMonitor portable/translations/qt_hu.qm
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/mAgaMonitor portable/translations/qt_it.qm
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/mAgaMonitor portable/translations/qt_ja.qm
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/mAgaMonitor portable/translations/qt_ko.qm
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/mAgaMonitor portable/translations/qt_lv.qm
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/mAgaMonitor portable/translations/qt_nl.qm
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/mAgaMonitor portable/translations/qt_nn.qm
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/mAgaMonitor portable/translations/qt_pl.qm
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/mAgaMonitor portable/translations/qt_pt_BR.qm
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/mAgaMonitor portable/translations/qt_ru.qm
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/mAgaMonitor portable/translations/qt_sk.qm
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/mAgaMonitor portable/translations/qt_tr.qm
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/mAgaMonitor portable/translations/qt_uk.qm
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/mAgaMonitor portable/translations/qt_zh_CN.qm
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/mAgaMonitor portable/translations/qt_zh_TW.qm
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/Makefile
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/Makefile.Debug
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/Makefile.Release
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/release/D3Dcompiler_47.dll
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/release/iconengines/qsvgicon.dll
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/release/imageformats/qgif.dll
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/release/imageformats/qicns.dll
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/release/imageformats/qico.dll
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/release/imageformats/qjpeg.dll
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/release/imageformats/qsvg.dll
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/release/imageformats/qtga.dll
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/release/imageformats/qtiff.dll
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/release/imageformats/qwbmp.dll
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/release/imageformats/qwebp.dll
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/release/libgcc_s_seh-1.dll
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/release/libstdc++-6.dll
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/release/libwinpthread-1.dll
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/release/mAgaMonitor.exe
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/release/main.o
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/release/moc_monitormaga.cpp
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/release/moc_monitormaga.o
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/release/moc_predefs.h
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/release/monitormaga.o
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/release/opengl32sw.dll
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/release/platforms/qwindows.dll
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/release/Qt6Core.dll
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/release/Qt6Gui.dll
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/release/Qt6SerialPort.dll
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/release/Qt6Svg.dll
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/release/Qt6Widgets.dll
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/release/styles/qwindowsvistastyle.dll
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/release/translations/qt_ar.qm
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/release/translations/qt_bg.qm
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/release/translations/qt_ca.qm
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/release/translations/qt_cs.qm
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/release/translations/qt_da.qm
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/release/translations/qt_de.qm
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/release/translations/qt_en.qm
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/release/translations/qt_es.qm
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/release/translations/qt_fa.qm
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/release/translations/qt_fi.qm
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/release/translations/qt_fr.qm
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/release/translations/qt_gd.qm
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/release/translations/qt_he.qm
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/release/translations/qt_hr.qm
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/release/translations/qt_hu.qm
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/release/translations/qt_it.qm
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/release/translations/qt_ja.qm
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/release/translations/qt_ko.qm
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/release/translations/qt_lv.qm
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/release/translations/qt_nl.qm
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/release/translations/qt_nn.qm
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/release/translations/qt_pl.qm
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/release/translations/qt_pt_BR.qm
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/release/translations/qt_ru.qm
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/release/translations/qt_sk.qm
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/release/translations/qt_tr.qm
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/release/translations/qt_uk.qm
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/release/translations/qt_zh_CN.qm
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/release/translations/qt_zh_TW.qm
/build-mAgaMonitor-Desktop_Qt_6_2_1_MinGW_64_bit-Release/ui_monitormaga.h
/mAgaMonitor/mAgaMonitor.pro.user
/mAgaMonitor/mAgaMonitor.pro.user
/mAgaMonitor/mAgaMonitor.pro.user
